body {
  background: rgb(226,244,239);
  background: linear-gradient(90deg, rgba(226,244,239,1) 10%, rgba(187,204,215,1) 39%, rgba(95,120,181,1) 72%, rgba(22,45,102,1) 100%);
  padding: 1%;
}

.tecky-logo{
  padding: .1em;
  height: 4em;
  width: 4em;
  border-radius: 18em;
}

.navbar {
  display:flex;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .5px;
  line-height: 1.5;
  font-weight: bold;
  border-radius:5px
} 

.job-container{
  overflow-y: auto;
  height: 81vh;

}


.db {
  color: #6c727c ;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: .5px;
  font-family: 'Quicksand', sans-serif;
}

.bd {
  color: #6c727c ;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: .5px;
  font-family: 'Quicksand', sans-serif;
}

.card2 {
  margin-top: 5px;
}

.card1 {
  padding: 9px;
}

.card-header {
  background-color: #162d66;
  color:#cde2dd;
}
