html { width: 100%; height:100%; overflow:hidden; }

body {
    font-family: 'Quicksand', sans-serif;
	width: 100%;
	height:100%;
    background: rgb(226,244,239);
    background: linear-gradient(90deg, rgba(226,244,239,1) 10%, rgba(187,204,215,1) 39%, rgba(95,120,181,1) 72%, rgba(22,45,102,1) 100%);
}

.choice-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.choice {
    display: flex;
    height: fit-content;
}

.btn {
    width: 24em;
    margin: 70px;
    border: 50px;
}
